In [18]:
import pandas as pd
import numpy as np
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow.keras
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from sklearn.model_selection import *
from sklearn.model_selection import *
from sklearn.linear_model import *
from sklearn.preprocessing import *
from tensorflow.keras.layers.experimental import *
from sklearn.metrics import *

from sklearn.ensemble import *
from datetime import datetime
from tensorflow.keras.callbacks import *

In [19]:
df = pd.read_csv("model1.csv")

In [20]:
df.head()

   District_Name       Season  Area  Production               Crop
0        SIRMAUR  Kharif       34.0    0.000001          Groundnut
1      KANDHAMAL  Summer        8.0    0.000001  Moong(Green Gram)
2  KANNIYAKUMARI  Kharif        7.0    0.000001  Moong(Green Gram)
3    KANCHIPURAM  Kharif        6.0    0.000001                Tur
4          MANDI  Kharif        6.0    0.000001          Groundnut

In [21]:
vectors = pd.get_dummies(df[['District_Name','Season','Crop']])

In [22]:
df = pd.concat([df,vectors], axis=1)

In [23]:
df.describe()

,Area,Production,District_Name_24 PARAGANAS NORTH,District_Name_24 PARAGANAS SOUTH,District_Name_ADILABAD,District_Name_AGAR MALWA,District_Name_AGRA,District_Name_AHMADABAD,District_Name_AHMEDNAGAR,District_Name_AIZAWL,...,Crop_Paddy,Crop_Ragi,Crop_Rice,Crop_Sesamum,Crop_Soyabean,Crop_Sugarcane,Crop_Sunflower,Crop_Tur,Crop_Urad,Crop_Wheat
count,1.229630e+05,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,...,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000,122963.000000
mean,1.927517e+04,11.360841,0.002017,0.001992,0.002895,0.000098,0.002114,0.001805,0.003009,0.000821,...,0.003895,0.033433,0.122622,0.070940,0.025821,0.063548,0.044428,0.060644,0.078633,0.064044
std,4.915727e+04,239.460543,0.044864,0.044593,0.053729,0.009878,0.045935,0.042452,0.054772,0.028648,...,0.062292,0.179765,0.328004,0.256726,0.158601,0.243946,0.206045,0.238678,0.269167,0.244832
min,2.000000e-01,0.000001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.650000e+02,0.001350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.442000e+03,0.015230,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.168533e+04,0.182830,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.020181e+06,12508.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['District_Name','Season','Crop','Production'], axis=1),df['Production'],test_size=0.3)

In [25]:
lm = LinearRegression()
lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

predictions

array([  3.26693517, -12.37096999,   4.23804319, ...,   0.93673959,
       -12.35216159,  -7.46682531])

In [26]:
values = pd.DataFrame([y_test, predictions])

In [27]:
values

,13719,89217,108486,18547,32266,99050,52183,107968,48130,107967,...,66024,90281,95901,9524,17032,99881,110635,79677,48784,86417
Production,0.000220,0.139,1.116,0.000410,0.00157,0.36139,0.00749,1.049,0.00554,1.04882,...,0.02163,0.153,0.25982,0.00010,0.000341,0.39788,1.44512,0.062,0.00586,0.1087
Unnamed 0,-3.184943,NaN,NaN,-25.001332,15.62425,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-8.88061,3.753413,NaN,NaN,NaN,NaN,NaN

In [28]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
y_train = y_train.values
y_test = y_test.values

In [30]:
model = Sequential()

In [31]:
print(X_train.shape)

(86074, 670)

In [32]:

model.add(Dense(88,activation='relu'))
model.add(Dense(177,activation='relu'))
model.add(Dense(355,activation='relu'))
model.add(Dense(1))

In [33]:
model.compile(optimizer='adam', loss='mean_absolute_error',metrics=['accuracy'])

In [34]:
early_stop = EarlyStopping(monitor='loss', mode='min', verbose=1, patience=25)

In [35]:
y_train

array([0.04   , 0.00914, 0.00133, ..., 0.0554 , 0.05142, 0.001  ])

In [36]:
model.fit(X_train,y_train,epochs=10, callbacks=[early_stop])

Epoch 1/10
2690/2690 [==============================] - 7s 3ms/step - loss: 10.0530 - accuracy: 5.5294e-05
Epoch 2/10
2690/2690 [==============================] - 7s 3ms/step - loss: 5.8496 - accuracy: 4.8659e-05
Epoch 3/10
2690/2690 [==============================] - 10s 4ms/step - loss: 3.9921 - accuracy: 7.2043e-05
Epoch 4/10
2690/2690 [==============================] - 7s 3ms/step - loss: 3.5924 - accuracy: 1.8720e-05
Epoch 5/10
2690/2690 [==============================] - 7s 3ms/step - loss: 4.8008 - accuracy: 9.0639e-05
Epoch 6/10
2690/2690 [==============================] - 7s 3ms/step - loss: 4.2798 - accuracy: 5.5897e-05
Epoch 7/10
2690/2690 [==============================] - 7s 3ms/step - loss: 3.9905 - accuracy: 4.1945e-05
Epoch 8/10
2690/2690 [==============================] - 8s 3ms/step - loss: 3.5617 - accuracy: 4.2370e-05
Epoch 9/10
2690/2690 [==============================] - 8s 3ms/step - loss: 3.2027 - accuracy: 1.3618e-05
Epoch 10/10
2690/2690 [==============================] - 12s 4ms/step - loss: 3.9193 - accuracy: 6.6001e-05

In [37]:
predictions = model.predict(X_test)

In [38]:
values = pd.DataFrame([y_test, predictions])

In [39]:
values

,0,1,2,3,4,5,6,7,8,9,...,36879,36880,36881,36882,36883,36884,36885,36886,36887,36888
0,0.00022,0.139,1.116,0.00041,0.00157,0.36139,0.00749,1.049,0.00554,1.04882,...,0.02163,0.153,0.25982,0.0001,0.000341,0.39788,1.44512,0.062,0.00586,0.1087
1,[-0.0021449986],[-0.0108849285],[1.2044445],[-0.010827338],[-0.010023274],[0.3355725],[0.017648626],[1.3133526],[-0.000894065],[1.5365314],...,[-0.0018846251],[0.0665901],[0.20646192],[-0.014114113],[0.0014149959],[0.277064],[1.7902831],[-0.010727395],[-0.010047986],[0.049363155]

In [40]:
print(mean_squared_error(y_test,predictions,squared=False))

58.91876296511587